<div class="page-header">
  <h2>Basic Types</h2>
</div>
<h3>Number</h3>
<pre>
  <code highlight class="language-typescript">
    var year: number = 2016;
  </code>
</pre>
<h3>String</h3>
<pre>
  <code highlight class="language-typescript">
    var city: string = 'Berlin';
  </code>
</pre>
<h3>Boolean</h3>
<pre>
<code highlight class="language-typescript">
  var isItTrue: boolean = true;
</code>
</pre>
<h3>Array</h3>
<pre>
<code highlight class="language-typescript">
  var sightseeings: array = ['Berliner Dom', 'Brandenburger Tor'];
</code>
</pre>
<h3>Enum</h3>
<pre>
<code highlight class="language-typescript">
  enum Seasons { Winter, Spring, Summer, Autumn };
  var currentSeason = Seasons.Winter;
</code>
</pre>
<pre>
<code highlight class="language-typescript">
  enum Seasons {
    Winter = 1,
    Spring = 2,
    Summer = 3,
    Autumn = 4
  };
  var currentSeason = Seasons.Winter; //currentSeason = 1;
</code>
</pre>
